# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# ML/data
data/
*.csv
*.wav
*.mp3
*.npy
*.npz
*.pt
*.pth
*.pkl

# Environment
.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db